* {
  box-sizing: border-box;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

form {
	width: 80%;
	max-width: 60rem;
	margin: 1rem auto
}

fieldset {
	width: 80%;
	margin: 2rem auto;
	border: none;
	border-bottom: 1px solid #24cbd3;
	padding-bottom: 2rem;
}

form fieldset:first-child {
	border: 2px solid purple;
}

.form__titulo {
	color:purple;
	font-size: 1.2rem;
}

fieldset legend {
	color: purple;
	font-style: italic;
}

.fieldset-row {
	display:flex;
	flex-wrap: wrap;
}

.fieldset-column {
	display: flex;
	flex-direction:column;
	width: 50%;
	padding: 1rem;
}

.inline-column {
	flex-direction: row;
}

input[type="radio"], 
input[type="checkbox"]
select,
input + label {
	cursor: pointer;
}

label[for="textArea"] {
	margin-top: 1rem
}

#acciones {
  display: flex;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: purple;
  cursor: pointer;
  border: 2px purple solid;
  background: inherit;
}


button:hover,
button:active {
  color: white;
  background-color: purple;
}

.cta {
	font-weight: bold;
	background: purple;
	color: white;
	border-color: purple;
}

.cta:active,
.cta:hover {
	background: white;
	color:purple;
}

.validar:invalid {
	background: #f8aaaa;
	border: 1px solid #d60303;
	outline:  1px solid #d60303;
}

input.validar:invalid {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width:0.8rem;
	height: 0.8rem;
	background: #f8aaaa;
	border: 1px solid #d60303;
	outline:  1px solid #d60303;
}



input[type="radio"].validar:invalid {
	outline: none;
	border-radius: 50%;
}

#contacto .inline-column {
	padding: 2%;
}



